@tailwind base;
@tailwind components;
@tailwind utilities;

/*.header {
    @apply
        flex
        bg-[#131921]
        text-white
        justify-between
        h-16
        sticky
        top-0
        z-[100]
        overflow-x-hidden
}

.header-logo {
    @apply
        mx-6
}

.header_search {
    @apply
        flex
}

.header_searchInput {
    @apply
        flex-grow
        focus:outline-none
        border-none
        p-2
        rounded-md
        h-10
        w-full    
        md:w-[800px] 
        m-3
        text-white
        md:mr-[70vh] 
}

.header_searchIcon {
    @apply
        bg-[#cd9042]
}

.nav {
    @apply
        flex
        items-center
        justify-evenly
}


@media (max-width: 768px) {
    .header {
        @apply
            flex-col
            h-auto
            py-4
            items-center
    }

    .header_search {
        @apply
            mt-4
    }

    .header_searchInput {
        @apply
            md:w-full
            mr-0
    }

    .nav {
        @apply
            mt-4
    }
}
*/

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
.header__basket{
    color: #f08804;
    

}